$navbar-height: 56px;

body {
    margin: 0px;
    padding: 0px;
    width: 100%;

    .navbar {
        height: $navbar-height;
        width: 100%;
    } 
    
    .hero-area {
        min-height: 960px;
        height: 960px;
        background-color: #fff;
    }    
    
    .recent-tours-area {
        min-height: 960px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.025);
    }    
    
    .concept-area {
        min-height: 960px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.1);
    }    
    
    .kaifong-area {
        min-height: 960px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.1);
    }    
}
