.cp-container {
    height: 100%;
    width: 100%;
    
    /* Centered background/Hero Image */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image:   url('./images/bg_1.png');    
    position: relative;
    
    color: #333;
    font-family: sans-serif,'PingFang SC',"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",sans-serif;
    
    .cp-banner {
        height: 96px;
        text-shadow: 0 1px 1px rgba(1,1,1,0.6);

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:3%;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
        
        text-align: center;
        
        .cp-banner-title {
            position:absolute; /*it can be fixed too*/
            left:0; right:0;
            bottom:20%;
            margin:auto;
            font-size: 48px;
            font-weight: 100;
            text-shadow: 0 1px 1px rgba(0,0,0,0.8);
            .cp-banner-title-line {
                height: 3px;
                width: 10%;
                margin: 8px;
                display: inline-block;
                vertical-align: middle;
                background-color: #333;
                box-shadow: 0 1px 1px rgba(0,0,0,0.6);
            }
        }
    }
    
    .cp-content {
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        min-height: 960px;
        height: auto;
        
        padding-top: 128px;
        padding-bottom: 12px;
        
    }
}