.ha-container {
    height: 100%;
    width: 100%;
    
    /* Centered background/Hero Image */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image:   linear-gradient(
                            rgba(0, 0, 0, 0.4),
                            rgba(0, 0, 0, 0.3)
                        ), url('./images/placeholder_banner.webp');    
    position: relative;
    
    color: aliceblue;
    font-family: sans-serif,'PingFang SC',"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",sans-serif;
    text-shadow: 0 1px 5px rgba(0,0,0,0.6);
    
    .ha-banner {
        height: 156px;
        width: 700px;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:20%;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
        
        text-align: center;
        
        .ha-banner-subtitle {
            position:absolute; /*it can be fixed too*/
            left:0; right:0;
            top:20%;
            margin:auto;            
        }
        .ha-banner-title {
            position:absolute; /*it can be fixed too*/
            left:0; right:0;
            bottom:20%;
            margin:auto;
            font-size: 48px;
            font-weight: 100;
            text-shadow: 0 1px 10px rgba(0,0,0,0.8);
        }
    }
    
    .ha-search-box {
        background-color: rgba(0, 0, 0, 0.7);
        width: 700px;
        height: 360px;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        bottom:23%;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
        
        text-align: center;
        
        .ha-search-box-sep {
            vertical-align: middle;
            
            .ha-search-box-sep-line {
                height: 3px;
                width: 30%;
                margin: 8px;
                display: inline-block;
                vertical-align: middle;
                background-color: aliceblue;
            }
        }
        
    }
}

.tour-type-container {
    display: inline-block;
    min-height: 120px;
    min-width: 96px;
    margin: 12px;
    
    img {
        padding: 8px;
        width: 96px;
    }
}